<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreenshotPhotoObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CA23E621E0145E300D67E9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CA23E7B1E0145E300D67E9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CA23E861E0145E300D67E9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
